Indicating relative weight of the Receiver's constraint sets

Regarding relative quality/preference, the following Constraint Set metadata item would give us something very consistent with the 'media type quality factor' (qvalue) used in HTTP content negotiation, defined by [RFC 7231 Section 5.3](https://tools.ietf.org/html/rfc7231#section-5.3).

```json
"properties": {
  ...
  "urn:x-nmos:cap:meta:qvalue": {
    "description": "The qvalue or quality factor expresses the relative 'weight' that the Receiver assigns to its preference for the streams satisfied by the associated Constraint Set. The weight is normalized to a real number in the range 0 through 1, where 0.001 is the least preferred and 1 is the most preferred; a value of 0 means 'not acceptable'.",
    "type": "number",
    "default": 1,
    "maximum": 1,
    "minimum": 0,
    "multipleOf": 0.001
  }
}
```

Would this fit the use cases that have been identified, e.g. by the EDID-based connection management activity?

(The distinction between the meaning of 0 and 0.001 comes from RFC 7231. We wouldn't _have_ to follow this if the group feel it causes more trouble than it's worth.)
